body{
    text-align: center;
    background-color: aqua;
  }
  h1 {
    color:White;
    margin-left: 15%;
    margin-right:15%;

  }
  img{
    width: 200px;
    height: 200px;
  }
  ul {
    list-style-type: none;
  }

  img{
    border-radius: 10px;
    border-style: double;
    border-width: 15px;
    border-color: blue;
  }

  h1{
    background-color: blue;
    border-width: 20px;
  }

  #history{
    background-color:violet;
    border:2px;
    font-size: 24px;
    color:black;
    border-style: dashed;
    margin-left:15%;
    margin-right:15%;
  }

  #rate{
    font-size: 32px;
  }

  #ul, #p1,h3{
    font-size: 32px;
  }
    